# Lab 2 - Exploratory Data Analysis

In [1]:
import pandas as pd

## 1. Import Data

In [2]:
df = pd.read_csv('imdb-videogames.csv')

## 2. Inspect a Portion of the Dataset

In [3]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [4]:
df.tail(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20795,20793,Boku wa kyoumo kimi o korosu,https://www.imdb.com/title/tt6010652/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20796,20794,Find Me Event,https://www.imdb.com/title/tt2619050/?ref_=adv...,2011.0,NaN,NaN,NaN,"Days after being kidnapped and tortured, Denni...",False,False,False,False,False,False,False,False,True
20797,20795,Spooks,https://www.imdb.com/title/tt4965776/?ref_=adv...,2017.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20798,20796,Bite Marks,https://www.imdb.com/title/tt2797224/?ref_=adv...,2012.0,NaN,NaN,NaN,A demonologist gets in over his head while mak...,False,False,False,False,False,False,False,False,False
20799,20797,Requiem,https://www.imdb.com/title/tt4396968/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 3. Shape and Basic Info about the Dataset

In [5]:
df.shape

(20805, 17)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [7]:
df.describe()

         Unnamed: 0          year
count  20805.000000  20538.000000
mean   10400.066667   2005.567485
std     6005.918897     11.846001
min        0.000000   1952.000000
25%     5199.000000   1997.000000
50%    10400.000000   2008.000000
75%    15601.000000   2016.000000
max    20802.000000   2027.000000

## 4. Look for Duplicates

In [8]:
df.duplicated().sum()

2

## 5. Fix Types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [10]:
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating           object
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

In [11]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

To fix the types for rating, I changed the values to floats instead of strings so that they can be used for math and removed a non-numeric character so this would be possible. For votes, I took the commas out of the numbers and changed empty values to zeroes, then changes the values to ints.

In [12]:
df.rating.replace("*9.0", '9.0', inplace=True)
df.rating = pd.to_numeric(df.rating)
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating          float64
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

In [13]:
df.votes.replace('', 0, inplace = True)
df.votes = df.votes.str.replace(",", "").astype(float)
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating          float64
votes           float64
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

## 6. Drop and Rename Columns

In [14]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

I removed the space from the title "plot summary" and the hyphen from "Sci-Fi" so the columns will be easier to use.

In [15]:
df.columns = ['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot_summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy', 'Mystery', 'SciFi', 'Thriller']
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot_summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'SciFi', 'Thriller'],
      dtype='object')

## 7. Fix Nulls

In [16]:
df[(df.rating.isnull()) & (df.votes.notna())]

Empty DataFrame
Columns: [Unnamed: 0, name, url, year, certificate, rating, votes, plot_summary, Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, SciFi, Thriller]
Index: []

Where rating is null, I left the values null because any numerical value I change them to could change values like the median and mean of the column. Where votes is null, I changed the value to 0 since this means the game hasn't received any votes yet. I chose to leave null values in rating alone while changing null values in votes because the rating is a numerical ranking of the game's quality, while votes is just how many people rated the game. Therefore, while receiving no ratings doesn't necessarily mean the game's quality is bad, it does mean that the game hasn't received any votes. Where certificate is null, I changed null values to "Unrated" since the type didn't need to be numerical and some games already had "Unrated" as their value in certificate. Where year is null, I once again left it null since any numerical value I change the null values to could mess with any math using the category, and any non-numerical value would make it impossible to do math on the category as a whole.

In [17]:
df.votes.fillna(0, inplace=True)

In [18]:
df.certificate.fillna('Unrated', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   20805 non-null  object
 5   rating        11602 non-null  float64
 6   votes         20805 non-null  float64
 7   plot_summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  SciFi         20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(3), int64(1), object(4)
memory usage: 1.4+ MB

## 8. Summarize Categorical Columns

In [19]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot_summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'SciFi', 'Thriller'],
      dtype='object')

I chose to show the value counts of 'name', 'certificate', and each of the genres because they are the categorical columns that show useful information when each value is counted. The other categorical columns, 'url' and 'plot_summary', will be different for each game so the user doesn't gain any information from counting each possible value.

In [20]:
df.name.value_counts()

Spider-Man                        9
God of War                        6
Star Trek                         6
Sonic the Hedgehog                6
Batman                            5
                                 ..
Elevator Action                   1
Nobuyuki Forces 4                 1
Cross Fire: king of gun battle    1
Duke: Nuclear Winter              1
Cryptic                           1
Name: name, Length: 19714, dtype: int64

In [21]:
df.certificate.value_counts()

Unrated      13141
T             2474
E             2006
M             1820
E10+           814
K-A            229
Not Rated      184
AO              32
GA              26
EC              25
CE              13
12               9
PG-13            7
MA-13            7
Approved         4
G                4
MA-17            3
PG               3
TV-MA            2
Passed           1
TV-14            1
Name: certificate, dtype: int64

In [22]:
df.Action.value_counts()

True     11932
False     8873
Name: Action, dtype: int64

In [23]:
df.Adventure.value_counts()

False    10469
True     10336
Name: Adventure, dtype: int64

In [24]:
df.Comedy.value_counts()

False    19020
True      1785
Name: Comedy, dtype: int64

In [25]:
df.Crime.value_counts()

False    19910
True       895
Name: Crime, dtype: int64

In [26]:
df.Family.value_counts()

False    17930
True      2875
Name: Family, dtype: int64

In [27]:
df.Fantasy.value_counts()

False    16455
True      4350
Name: Fantasy, dtype: int64

In [28]:
df.Mystery.value_counts()

False    19620
True      1185
Name: Mystery, dtype: int64

In [29]:
df.SciFi.value_counts()

False    17215
True      3590
Name: SciFi, dtype: int64

In [30]:
df.Thriller.value_counts()

False    20282
True       523
Name: Thriller, dtype: int64

## 9. Summarize Numeric Columns

In [31]:
df.describe()

         Unnamed: 0          year        rating         votes
count  20805.000000  20538.000000  11602.000000  20805.000000
mean   10400.066667   2005.567485      7.047793    351.873011
std     6005.918897     11.846001      1.235266   2042.719034
min        0.000000   1952.000000      1.000000      0.000000
25%     5199.000000   1997.000000      6.400000      0.000000
50%    10400.000000   2008.000000      7.200000      9.000000
75%    15601.000000   2016.000000      7.900000     61.000000
max    20802.000000   2027.000000      9.700000  60597.000000